# dependencies
node_modules/

# env files
.env

# logs
logs
*.log
npm-debug.log*

# build
dist
build

# OS
.DS_Store
Thumbs.db

# prisma (if used)
prisma/migrations/

# vscode
.vscode/

# coverage
coverage/